.panel panel-info .panel-heading .panel-title{
  background-color:#ffcc00;
  height: 700px;
  }
.fa-graduation-cap, .fa-window-close{
    color:white;
    font-size : 30px;
}
  
.pd-or {
     display: flex;
     flex-basis: 100%;
     align-items: center;
     color: rgba(0, 0, 0, 0.25);
     margin: 8px 0px;
}
.pd-or::before,
.pd-or::after {
     content: "";
     flex-grow: 1;
     background: rgba(0, 0, 0, 0.25);
     height: 1px;
     font-size: 0px;
     line-height: 0px;
     margin: 0px 8px;
}

.snb {
    display: block;
    width: 100%;
    border: none;
    border-radius:5px;
    
    background-color: #31dac3;
    font-weight:bold;
    color: white;
    padding: 4px 10px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    
  }
  
  .snb:hover {
    background-color: #ddd;
    color: black;
   
  }
.fb {
    display: block;
    width: 100%;
    border: none;
    border-radius:5px;
    background-color: #3333cc;
    font-weight:bold;
    color: white;
    padding: 4px 10px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
  }
  
  .fb:hover {
    background-color: #ddd;
    color: black;
  }
  
  .google {
    display: block;
    width: 100%;
    border: none;
    border-radius:5px;
    background-color: hsl(12, 100%, 66%);
    font-weight:bold;
    color: white;
    padding: 4px 10px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
  }
  
  .google:hover {
    background-color: #ddd;
    color: black;
  }
  
  .ep {
    display: block;
    width: 100%;
    border: none;
    border-radius:5px;
    background-color: #eeeb46;
    font-weight:bold;
    color: white;
    padding: 4px 10px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
  }
  
  .ep:hover {
    background-color: #ddd;
    color: black;
  }
  
  
  .ef {
    padding-top: 10px;
  }
  .back {
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    color: white;
    font:bold;
  }
